# Airflow Environment Variables Template

# Database
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:PASSWORD@airflow-db.xxxxx.us-east-1.rds.amazonaws.com:5432/airflow

# Celery
AIRFLOW__CELERY__BROKER_URL=rediss://:AUTH_TOKEN@airflow-redis.xxxxx.cache.amazonaws.com:6379/0?ssl_cert_reqs=required
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:PASSWORD@airflow-db.xxxxx.us-east-1.rds.amazonaws.com:5432/airflow

# Core
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__REMOTE_LOGGING=True
AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER=s3://pathwai-airflow3-logs/ENV/logs

# Webserver
AIRFLOW__WEBSERVER__SECRET_KEY=CHANGE_ME_TO_RANDOM_STRING

# S3 Sync Sidecar
DAGS_BUCKET=pathwai-airflow3-dags
ENV=dev

# AWS
AWS_DEFAULT_REGION=us-east-1
AWS_ACCOUNT_ID=381492153064
